/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* третий цвет текста color: rgba(255, 255, 255, 0.6) */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #E5E5E5 */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --the-third-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #e5e5e5;
  --the-third-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

/* Header */

/* Logo */
.header-logo {
  color: var(--accent-color);
}

/* Site nav */
.header-list .link {
}

.header-list .header-link:hover,
.header-list .header-link:focus {
  color: var(--accent-color);
}

.header-contacts .header-mail:hover,
.header-contacts .header-mail:focus {
  color: var(--accent-color);
}

/* Hero */

/* Section */

/* .header .header-nav .header-logo .header-list .header-item*/
/* .header-contacts .header-link .header-tel .header-mail */
/* .feature .feature-title .feature-list .feature-sub */
/* .about .about-title .about-list*/
/* .team .team-title .team-list .team-sub*/
/* .footer .address .footer-tel .footer-mail */

/*  */

.feature-title {
  color: var(--primary-text-color);
}

.feature-list .title {
  color: var(--primary-text-color);
}
